<div class="container">
  <div class="row">

    <div class="col recipe-list">
      <div class="col">
        <div class="row align-items-center" *ngFor="let recipe of recipes">
          <div class="col">
            {{recipe.name}} (id: {{recipe.id}})
          </div>
          <div class="col buttons-area">
            <button type="button" class="btn btn-primary" (click)="openRecipe(recipe.id)">View</button>
            <button type="button" class="btn btn-danger" (click)="removeRecipe(recipe.id)">Remove</button>
          </div>
        </div>
        <app-recipe-form [recipes]="recipes" (submitted)="refreshList()"></app-recipe-form>
      </div>
    </div>

    <div class="col col-md-offset-2" *ngIf="this.selectedRecipe !== null">
      <div class="col">
        <app-recipe-details [id]="selectedRecipe"></app-recipe-details>
      </div>
    </div>

  </div>
</div>

