.recipe-list {
  padding-top: 10px;
}
.recipe-list .row {
  padding: 5px;
}

.recipe-list .row:nth-child(odd) {
  background: #ddd;
}

.recipe-list .row:nth-child(even) {
  background: #f0f0f0;
}

.recipe-list .buttons-area {
  text-align: right;
}

.recipe-list .buttons-area button {
  margin-left: 10px;
}
