<form #form="ngForm" novalidate (submit)="submit(form)">
  <div class="form-group">
    <label>Id</label>
    <input class="form-control" [ngClass]="{'is-invalid': form.submitted && (formId.invalid || !isIdUnique())}"
           type="text" name="id"
           [(ngModel)]="id" #formId="ngModel" pattern="^[a-zA-Z0-9\-]+$" required>
    <div class="invalid-feedback" *ngIf="!id && form.submitted">
      This field is required
    </div>
    <div class="invalid-feedback" *ngIf="!isIdUnique() && form.submitted">
      This field value need to be unique
    </div>
    <div class="invalid-feedback" *ngIf="!!id && formId.invalid && form.submitted">
      You can only use letters and numbers and "-" character in this field
    </div>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" [ngClass]="{'is-invalid': form.submitted && formName.invalid}"
           type="text" name="name" [(ngModel)]="name" #formName="ngModel" pattern="^[a-zA-Z0-9\- ]+$" required>
    <div class="invalid-feedback" *ngIf="!name && form.submitted">
      This field is required
    </div>
    <div class="invalid-feedback" *ngIf="!!name && formName.invalid && form.submitted">
      You can only use letters, numbers, space and "-" character in this field
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="bigAmount" [(ngModel)]="bigAmount">
    <label lass="form-check-label">Big amount</label>
  </div>
  <button type="submit" class="btn btn-primary">Add recipe</button>
</form>
