<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Amount</th>
    <th scope="col">Unit</th>
    <th scope="col">Cooking&nbsp;method</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ingredient of recipeData?.ingredients">
    <td>{{ingredient.id}}</td>
    <td>{{ingredientsById[ingredient.name]}}</td>
    <td>{{ingredient.amount}}</td>
    <td>{{ingredient.unit}}</td>
    <td>{{cookingMethodsById[ingredient.cookingMethod]}}</td>
  </tr>
  </tbody>
</table>

<form #form="ngForm" (submit)="submit(form)">
  <div class="form-group">
    <label>Id</label>
    <input class="form-control" [ngClass]="{'is-invalid': form.submitted && (formId.invalid || !isIdUnique())}"
           type="text" name="id"
           [(ngModel)]="id" #formId="ngModel" pattern="^[a-zA-Z0-9\-]+$" required>
    <div class="invalid-feedback" *ngIf="!id && form.submitted">
      This field is required
    </div>
    <div class="invalid-feedback" *ngIf="!isIdUnique() && form.submitted">
      This field value need to be unique
    </div>
    <div class="invalid-feedback" *ngIf="!!id && formId.invalid && form.submitted">
      You can only use letters and numbers and "-" character in this field
    </div>
  </div>
  <div class="form-group">
    <label>Name</label>
    <select class="form-control" name="name" [(ngModel)]="name" #formName="ngModel" required
            [ngClass]="{'is-invalid': form.submitted && formName.invalid}">
      <option *ngFor="let ingredient of ingredients" [value]="ingredient.id">{{ ingredient.name }}</option>
    </select>
    <div class="invalid-feedback" *ngIf="!name && form.submitted">
      This field is required
    </div>
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input class="form-control" type="number" name="amount" [(ngModel)]="amount" #formAmount="ngModel" required
           [ngClass]="{'is-invalid': form.submitted && (formAmount.invalid || isToMuchIngredients())}">
    <div class="invalid-feedback" *ngIf="!amount && form.submitted">
      This field is required
    </div>
    <div class="invalid-feedback" *ngIf="isToMuchIngredients() && form.submitted">
      You got too much ingredients - max 1000 allowed in this recipe
    </div>

  </div>
  <div class="form-group">
    <label>Unit</label>
    <input class="form-control" type="text" name="unit" [(ngModel)]="unit" #formUnit="ngModel" required
           [ngClass]="{'is-invalid': form.submitted && formUnit.invalid}">
    <div class="invalid-feedback" *ngIf="!unit && form.submitted">
      This field is required
    </div>
  </div>
  <div class="form-group">
    <label>Cooking method</label>
    <select class="form-control" name="cookingMethod" [(ngModel)]="cookingMethod" #formCookingMethod="ngModel" required
            [ngClass]="{'is-invalid': form.submitted && formCookingMethod.invalid}">
      <option *ngFor="let method of cookingMethods" [value]="method.id">{{ method.name }}</option>
    </select>
    <div class="invalid-feedback" *ngIf="!cookingMethod && form.submitted">
      This field is required
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Add ingredient</button>
</form>

