<div class="recipe-details" *ngIf="!errorCode">
  <div class="row">
    <div class="col">
      id:
    </div>
    <div class="col">
      {{recipe.id}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      name:
    </div>
    <div class="col">
      {{recipe.name}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      big amount:
    </div>
    <div class="col">
      <span *ngIf="recipe.bigAmount">yes</span><span *ngIf="!recipe.bigAmount">no</span>
    </div>
  </div>

  <app-recipe-ingredients [recipe]="recipe" (submitted)="refresh()"></app-recipe-ingredients>

</div>

<div *ngIf="errorCode">
  Error: {{errorCode}}
</div>
