.recipe-details {
  padding-top: 10px;
}
.recipe-details .row {
  padding: 5px;
}

.recipe-details .row:nth-child(odd) {
  background: #ddd;
}

.recipe-details .row:nth-child(even) {
  background: #f0f0f0;
}
